{
  "extends": "airbnb-base",
  "plugins": [
    "import"
  ],
  "rules": {
    "no-plusplus": [
      "error",
      {
        "allowForLoopAfterthoughts": true
      }
    ],
    "no-restricted-syntax": ["error", "ForInStatement"],
    "key-spacing": [
      "error",
      {
        "align": "value"
      }
    ],
    "no-multi-spaces": [
      "error",
      {
        "exceptions": {
          "Property": true,
          "ImportDeclaration": true,
          "VariableDeclarator": true
        }
      }
    ],
    "no-use-before-define": [
      "error",
      {
        "functions": false,
        "classes": true
      }
    ],
    "spaced-comment": [
      "error",
      "always",
      {
        "exceptions": ["*"]
      }
    ],
    "import/no-extraneous-dependencies": [
      "error",
      {
        "devDependencies": [
          "**/*.js",
          "!**/*.spec.js"
        ]
      }
    ]
  }
}
